<header>
  <div class="body-wrapper">
      <section class="banner-area">
          <div class="container">
              <div class="banner-text">
                  <h1 class="text-center text-white">What can we help you find?</h1>
              <div class="banner-search-form">
                  <img class="img-search" src="assets/icons/search.svg" alt="">
              <input (keyup.enter)="search()" type="text"
              class="form-control form-input"
              placeholder="Search for answers"
              [(ngModel)] = "searchTerm"
              (change)="search()"
              >
              </div>

              </div>
          </div>
      </section>
  </div>
</header>
